* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #e5e7eb;
  height: 100vh;
  background: #121826 url('Background_image.svg') no-repeat fixed center;
}

header {
  margin: 48px 0px;
}

.title {
  margin-bottom: 16px;
}

main {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}
